.grid-item {
  position: relative;
  text-align: center;
  overflow: hidden;
  border-radius: 8px;
}

.gallery-title {
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.image-container {
  position: relative;
  width: 100%;
  height: 320px; /* Fixed height for all images */
  border-radius: 8px;
  overflow: hidden;
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image fits while maintaining aspect ratio */
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

.gallery-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(131, 131, 131, 0.2); /* Slightly light background */
  backdrop-filter: blur(8px); /* Blur effect */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  color: white;
  border-radius: 8px;
  padding: 10px;
  transition: opacity 0.3s ease-in-out;
}

.overlay-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.overlay-description {
  font-size: 0.9rem;
  text-align: center;
}

.image-container:hover .gallery-image {
  transform: scale(1.05);
}

.image-container:hover .gallery-overlay {
  opacity: 1;
}

@media (max-width: 768px) {
  .image-container {
    height: 280px;
  }
}
