.history-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 450px;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
}

.history-title {
  margin-bottom: 20px;
}

.history-tabs {
  max-width: 800px;
  width: 100%;
}

.history-tabs ul {
  text-align: left;
}

.history-tab {
  display: flex;
}

.history-tab .tab-text {
  margin-top: 8px;
}

.tab-content {
  color: rgba(0, 0, 0, 0.85); /* Slightly lighter black */
}

@media (max-width: 768px) {
  .tab-content {
    font-size: 0.85rem; /* Slightly smaller font size */
  }

  /* .history-tab {
  } */
}
