.history-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 450px;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
}

.history-title {
  margin-bottom: 20px;
  font-size: 2rem;
}

.history-tabs {
  max-width: 800px;
  width: 100%;
}

.history-tabs ul {
  text-align: left;
}

.history-tab {
  display: flex;
}

.history-tab .tab-text {
  margin-top: 8px;
}

.tab-content {
  color: rgba(0, 0, 0, 0.85); /* Slightly lighter black */
  font-size: 1rem;
}

@media (max-width: 768px) {
  .history-title {
    font-size: 1.5rem; 
  }

  .tab-content {
    font-size: 0.9rem; 
  }

  .history-tabs {
    max-width: 100%; 
  }

  .history-tab .tab-text {
    font-size: 0.9rem; /* Adjust tab text size */
  }
}

@media (max-width: 480px) {
  .history-container {
    padding: 5px; 
  }

  .history-title {
    font-size: 1.2rem; 
  }

  .tab-content {
    font-size: 0.8rem;
  }

  .history-tab {
    flex-direction: column; 
    align-items: center;
    margin-bottom: 10px; 
  }

  .history-tab .tab-text {
    margin-top: 4px;
    font-size: 0.8rem; 
  }
}
