/* #fbbf10 */
.test {
  display: inline-block;
  color: #FABC3F; /* Green highlight */
  animation: hanging 2s infinite;
}

@keyframes hanging {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f9f9f9; /* Dark navy background */
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.burger-icon {
  margin-right: 15px; /* Adjust spacing between Burger and edge */
}

/* Website Title */
.navbar h1 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #0c0c0c;
  margin-left: 5%;
  flex-grow: 1; /* Allow title to take up available space */
}

/* Link Styling for Group */
.navbar .mantine-Group-root {
  display: flex;
  gap: 15px; /* Add space between links */
  align-items: center;
}

.nav-links {
  margin-right: 5%;
}

.navbar .mantine-Group-root a {
  color: #0c0c0c;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s;
  text-decoration: none;
}

.navbar .mantine-Group-root a:hover {
  color: #fbbf10;
}

/* Full Drawer Background and Anchor Styling */
.mantine-Drawer-content {
  background-color: #f9f9f9 !important;
}

.drawer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: start;
  padding: 20px; /* Add padding to the drawer for spacing */
}

/* Drawer Title Styling */
.mantine-Drawer-title {
  color: #0c0c0c;
  font-size: 1.25rem;
  font-weight: 600;
}

/* Drawer Anchor Links */
.drawer a {
  color: #0c0c0c;
  font-size: 1rem;
  font-weight: 500;
  padding: 10px 0;
  text-decoration: none;
  transition: color 0.3s;
}

.drawer a:hover {
  color: #fbbf10; /* Accent color on hover */
  text-decoration: none; /* Remove underline */
}
