.prayer-card {
  margin: 0 10px;
  border-radius: 8px;
  min-width: 120px;
  text-align: center;
  width: 200px;
  aspect-ratio: 1;
  --o: calc(50% * tan(-22.5deg));
  clip-path: polygon(
    var(--o) 50%,
    50% var(--o),
    calc(100% - var(--o)) 50%,
    50% calc(100% - var(--o))
  );
  background-size: cover;
  background-position: center;
  position: relative;
  font-weight: 800;
  font-size: 1.1rem;
  overflow: hidden; /* Prevents overflow for the effect */
}

.prayer-card .text-container {
  position: relative;
  z-index: 2; /* Ensure text is always above the overlay */
  text-align: center;
  padding: 10px;
}

.active-prayer .prayer-name {
  font-weight: bold;
  color: white;
  animation: pulse 2s infinite ease-in-out; /* Pulsing effect */
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.8),
    0px 0px 10px rgba(0, 0, 0, 0.6); /* Subtle glow and depth */
}

.active-prayer .prayer-time {
  font-weight: 700;
  color: white;
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.8),
    0px 0px 10px rgba(0, 0, 0, 0.6); /* Subtle glow and depth */
}

.inactive-prayer .prayer-name,
.inactive-prayer .prayer-time {
  font-weight: 700;
  color: rgba(255, 255, 255, 0.8); /* Subtle appearance for inactive prayers */
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8); /* Helps text pop on the background */
}

/* Pulse animation for the active prayer text */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
