.prayer-card {
  margin: 0 10px;
  border-radius: 8px;
  min-width: 120px;
  text-align: center;
  width: 200px;
  aspect-ratio: 1;
  --o: calc(50% * tan(-22.5deg));
  clip-path: polygon(
    var(--o) 50%,
    50% var(--o),
    calc(100% - var(--o)) 50%,
    50% calc(100% - var(--o))
  );
  background-size: cover;
  background-position: center;
  position: relative;
  color: white; /* Adjust text color for visibility */
}

.active-prayer {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.inactive-prayer::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Shadow overlay */
  z-index: 1;
}
