.prayers-time-title {
  font-size: 1.8rem;
  font-weight: bold;
}

.marquee-list {
  width: 100%; /* Ensure marquee spans the full container width */
  overflow-x: hidden; /* Hide overflow on x-axis */
  white-space: nowrap; /* Prevent content wrapping */
  display: flex;
  align-items: center;
}

.prayer-item {
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 10px; /* Reduce margin for small screens */
  white-space: nowrap;
}

.color-pulse-indicator {
  display: inline-block;
  padding: 8px;
  margin: 0;
  white-space: nowrap;
}

@media (max-width: 768px) {

  .prayers-time-title {
    font-size: 1.6rem;
  }

  .prayer-item {
    font-size: 1rem; /* Smaller font on mobile */
    margin: 0 5px; /* Adjust margins for mobile */
  }

  .marquee-container h2 {
    font-size: 1rem; /* Smaller heading on mobile */
  }
}
